<strong><%= @user.name %></strong>
<br>
<%= gravatar_for @user %>

<% [:email, :location, :occupation,
    :age, :self_summary].each do |attribute| %>
  <%= user_attribute(@user, attribute) %>
<% end %>

<%
# deleting users will be re-enabled at a later date
=begin
<% if @user == current_user %>
  <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
=end%>

<% if @user != current_user && !friends?(@user, current_user) && !friend_requests?(@user, current_user) %>
  <%= link_to 'Friend_request', new_friend_request_path(@user), method: :post %> | 
<% end %>

<% if @user != current_user && friends?(@user, current_user) %>
  <%= link_to 'Destroy Freindship', destroy_friendship_path(@user), method: :delete %>
<% end %>

<% if @user == current_user %>
  <%= link_to 'Edit', edit_user_path(current_user) %> |
<% end %>
<%= link_to 'Back', users_path %>
<br>
<h3>Friends:</h3>
<%= 'No friends' unless @friends.any? %> 
<% @friends.each do |friend| %>
  <%= gravatar_for friend %>
  <%= link_to "#{friend.name}", friend %>
  <br>
<% end %>
<h3>Posts:</h3>

<%= 'No posts' unless @posts.any? %>
<% @posts.each do |post| %>
  <%= render 'shared/post', post: post %>
<% end %>
