<header id="navbar">
  <% if user_signed_in? %>
    <i id="facebook-home-button" class="fa fa-facebook-official" aria-hidden="true"></i>
    <div class="search">
      <input type="text" class="searchTerm" placeholder= "Search">
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
      </button>
    </div>
    profile picture>
    First name>
    pipe>
    Home>
    number of new posts><!-- going to need ajax for this one -->
    Friend request icon>
    Messenger Icon>
    Notifications Icon>
    Quick Help Icon>
    Settings Icon>
    <%= link_to 'Dashboard', root_path %> |
    <%= link_to 'Users', users_path %> |
    <%= link_to 'Logout', destroy_user_session_path, :method => :delete %> |
    <% if any_requests?(current_user) %>
      <%= link_to('Friend Requests', friend_requests_path) if any_requests?(current_user) %> |
    <% end %>
    Hello, <%= link_to "#{current_user.name}", current_user %>
  <% else %>
    <p>log in form goes here</p>
  <% end %>
</header>