<header id="login-header">
  <div class="wrapper">
    <%= link_to 'definitely not facebook', root_path, title: 'Go to Definitely Not Facebook Home', class: 'definitely-not-logo' %>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email_or_Phone %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>
  </div>
</header>
<main>
  <div class="wrapper">
    <div class="column">
      <h2>Connect with fiends and the world around you on Facebook.</h2>
      <ul>
        <li>See photos and updates <span class="faded">from friends in News Feed.</span></li>
        <li>Share what's new <span class="faded">in your life on your Timeline.</span></li>
        <li>Find More <span class="faded">of what you're looking for with Facebook Search.</span></li>
      </ul>
    </div>
    <div class="column">
      <h1>Sign Up</h1>
      <h3>It's free and always will be.</h3>
      <p>sign up form goes here</p>
    </div>   
  </div>
</main>
<footer>
  <%= render "devise/shared/links" %>
</footer>